@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@100&family=Poppins:wght@300;600&family=Source+Sans+Pro:wght@300;600;900&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-weight: 300;
    color: white;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppines' , sans-serif;

    background: url(./img/bg2.jpg) no-repeat center;

    background-blend-mode: multiply;
    background-color: gray;

    background-size: cover;
    
    background-attachment: fixed;
    height: 100%;
    position: relative;
    
}


.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;

}

.text{
    opacity: 0.8;
}


.title{
font-size: 2rem;
margin-bottom: 1rem;
}


.container{
    min-height: 100vh;
}


.meal-wrapper{
    max-width: 1346px;
    margin: 0 auto;
    padding: 1rem;
    background: #0094ff42;
    text-align: center;
}

.meal-search{
    margin: 2rem 0;
}

.meal-search cite{
    font-size: 1rem;
}
.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}

.search-control,
.search-btn{
    width: 100%;
}

.search-control{
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid #0e2d47;
    color: #0e2d47;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.search-control::placeholder{
    color: rgb(18, 64, 121);
   
}

.search-btn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: rgb(15, 75, 165);
    color: white;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
    --wetbkit-transition:all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.search-btn:hover{
    background-color: rgba(69, 111, 175, 0.695);
    color: white;
}

.meal-result{
    margin-top: 4rem;
}
#meal{
    margin: 2.4rem 0;
}

.meal-item{
    border-radius: 1rem;
    --wetbkit-border-radius:1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

    overflow: hidden;
    /* box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79); */
    box-shadow: 0 4px 32px -16px rgb(255 255 255);
    margin: 2rem 0;

}

.meal-image img{
    width: 100%;
    display: block;

}

.meal-name{
    padding: 1.5rem 0.5rem;
}

.meal-name h3{
    font-size: 1.4rem;
}


.recipe-btn{
    text-decoration: none;
    color: white;
    background: #59974a;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;

    --wetbkit-brder-radius:2rem;
    -moz-brder-radius: 2rem;
    -ms-brder-radius: 2rem;
    -o-brder-radius: 2rem;


    transition: all 0.4s linear;
    --wetbkit-transition:all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;


}

.recipe-btn:hover{
    background: #205c07;
}


.meal-details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    --wetbkit-transition:translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

    color: white;
    background: #59974a;
    border-radius: 1rem;
    --wetbkit-border-radius:1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    padding: 2rem 0;
    display: none;
}

.meal-details::-webkit-scrollbar{
    width: 10px;

}

.meal-details::-webkit-scrollbar-thumb{
    background:greenyellow;

    border-radius: 2rem;
    --wetbkit-border-radius:2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;

}


.showRecipe{
    display: block;
}

.meal-details-content{
    margin: 2rem;
}


.meal-details-content p:not(.recipe-category){
    padding:  1rem 0;
}

.recipe-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: white;
    border: none;
    width: 35px;
    height: 35px;

    border-radius: 50%;
    --wetbkit-border-radius:50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

display: flex;
align-items: center;
justify-content: center;
opacity: 0.9;



}


.recipe-close-btn:hover{
    background: #205c07;
    color: white;
}

.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.recipe-category{
    background: white;
    font-weight: 600;
    color: #205c07;
    display: inline-block;
    padding: 0.2rem 0.5rem;

    border-radius: 0.3rem;
    --wetbkit-border-radius:0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;

}

.recipe-category{
    background: white;
    font-weight: 600;
    color: #205c07;
    display: inline-block;
    padding: 0.2rem 0.5rem;

    border-radius: 0.3rem;
    --wetbkit-border-radius:0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;

}

.recipe-instruct{
    padding: 1rem 0;
}

.recipe-meal-img img{
    width: 100px;
    height: 100px;

    border-radius: 50%;
    --wetbkit-border-radius:50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    margin: 0 auto;
    display: block;
}


.recipe-link{
    margin: 1.4rem 0;
}


.recipe-link a{
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4s linear;
}


.recipe-link a:hover{
    opacity: 0.8;
}

.notFound{
    grid-template-columns: 1fr!important;
    color: #59974a;
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}

h4{
    color: rgb(71, 114, 208);
}




@media screen and (min-width: 233px){
    #meal{
        grid-template-columns: repeat(1, 1fr);
        display: grid;
        gap: 3px;

       }
}


@media screen and (max-width: 454px){
    #meal{
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        gap: 3px;

       }



       

       .meal-item {
        height: 20rem;
        width: 9rem;
    }
      
   

    .meal-image img {
        width: 100%;
    }

    .recipe-btn {
     
        width: 125px;
      
    }

    .meal-name h3 {
        font-size: 1rem;
    }
 

}


@media screen and (min-width: 500px){
    #meal{
        grid-template-columns: repeat(2, 1fr);
        display: grid;
       }

       .meal-item {
        height: 24rem;
        width: 14rem;
        /* gap: 3px; */
    }

    .meal-name h3 {
        font-size: 1.1rem;
    }
  
}


@media screen and (min-width: 600px){
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
    #meal{
        grid-template-columns: repeat(2, 1fr);
        display: grid;
       }

       .meal-item {
        height: 29rem;
        width: 18rem;
    }

    .meal-name h3 {
        font-size: 1.2rem;
    }
    }



@media screen and (min-width: 768px){
    #meal{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .meal-item{
        margin: 0;
    }

    .meal-details{
        width: 700px;
    }

    /* .meal-item {
        height: 23rem;
        width: 13rem;
    } */
}


@media screen and (min-width: 992px){
   #meal{
    grid-template-columns: repeat(4, 1fr);
   }
}


